@import "./skeleton";
@import "./normalize";



.header {
    background: rgba(20, 20, 20, 0.671);
    color: white;
    height: 40vh;
    margin-top: 0;
}
.about-container {
    display: flex;
}
.about-text {
    padding-top: 5%;
}
.profile-img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
}